<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>

      <bindings>
        <netTcpBinding>
          <binding name="NetTcpBinding_IProductService" />
        </netTcpBinding>
      </bindings>
      <client>
        <endpoint address="net.tcp://localhost:8734/ProductService/"
          binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IProductService"
          contract="ServiceReference.IProductService" name="NetTcpBinding_IProductService">
        </endpoint>
      </client>
    </system.serviceModel>
</configuration>