@model IEnumerable<CompanyWebUI.ServiceReference.Product>
    
<div id="searchresults">

    <table class="table">
        <tr>
            <th>
                Name
            </th>
            <th>
                Category
            </th>
            <th>
                Price
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.Name
                </td>
                <td>
                    @item.Category
                </td>
                <td>
                    @item.Price
                </td>
            </tr>
        }

    </table>


</div>