@model IEnumerable<CompanyWebUI.ServiceReference.Product>

@{
    ViewBag.Title = "Test";
}
<h2>Listing products in category: "Verktyg och maskiner"</h2>

<ul>
    @foreach (var product in Model)
    {
        <li>@product.Name, @product.Category, @product.Price</li>
    }
</ul>