@model IEnumerable<CompanyWebUI.ServiceReference.Product>

@{
    ViewBag.Title = "Start";
}

<div class="jumbotron">
    <h1>Hemtenta WCF och WEB API</h1>
    <p class="lead">Bacon Lorem Ipsum...</p>
    <p><a href="~/Home/Search/" class="btn btn-success btn-lg">Try the Service!</a></p>
</div>

<div class="row">
    <div class="col-md-5 col-sm-offset-1">
        <h2>All products (from the service):</h2>
        <ul>
            @foreach (var product in Model)
            {
                <li>@product.Name</li>
            }
        </ul>
    </div>
    <div class="col-md-5 col-sm-offset-1">
        <h2>Endpoint-info:</h2>
        <p>Binding: @ViewBag.Info</p>
        <p>URI: @ViewBag.Info2</p>

    </div>
</div>